Repository BrikByte-Studios/.github, changes with the owners that CODEOWNERS names for each.
All owners: @BrikByte-Studios/devops, @brikbytes/security, @brikbytes/docs-platform, @BrikByte-Studios/docs-platform, @BrikByte-Studios/security

CODEOWNERS:

# Global default
*                                        @BrikByte-Studios/devops

# Security-critical files
/.github/workflows/**                     @BrikByte-Studios/devops @brikbytes/security
/.gitattributes                           @BrikByte-Studios/devops
/.gitignore                               @BrikByte-Studios/devops
/LICENSE                                  @BrikByte-Studios/devops @brikbytes/docs-platform
<!-- /.archlint.yml                            @BrikByte-Studios/devops -->
/.governance/**                           @BrikByte-Studios/devops @brikbytes/security
/.audit/**                                @BrikByte-Studios/devops
/rulepacks/**                             @BrikByte-Studios/devops @brikbytes/security
/README.md                                  @BrikByte-Studios/docs-platform @BrikByte-Studios/devops



# workflows require Security + Platform approval
/.github/workflows/*  @BrikByte-Studios/security @BrikByte-Studios/devops
/.github/ISSUE_TEMPLATE/* @BrikByte-Studios/devops @BrikByte-Studios/docs-platform
/PULL_REQUEST_TEMPLATE.md @BrikByte-Studios/devops @BrikByte-Studios/docs-platform

ci: added condition to check if tests exist for installation of playwright
  .github/workflows/reuse-container.yml
  .github/workflows/reuse-qa.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

docs: updated the docs under issue_template/
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/ISSUE_TEMPLATE/task.yml
Owners: @BrikByte-Studios/devops, @BrikByte-Studios/docs-platform

added profile info for the org
  profile/README.md
  profile/README.md:Zone.Identifier
  profile/assets/banner/brikbyte_github_banner.png
  profile/assets/banner/brikbyte_github_banner.png:Zone.Identifier
Owners: @BrikByte-Studios/devops

added task issue template
  .github/ISSUE_TEMPLATE/task.yml
Owners: @BrikByte-Studios/devops, @BrikByte-Studios/docs-platform

added bug issue template
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
Owners: @BrikByte-Studios/devops, @BrikByte-Studios/docs-platform

added bug issue template
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: @BrikByte-Studios/devops, @BrikByte-Studios/docs-platform

added a professional SRE-grade Incident Issue Form for BrikByte Studios.
  .github/ISSUE_TEMPLATE/incident.yml
Owners: @BrikByte-Studios/devops, @BrikByte-Studios/docs-platform

added a Support Ticket Intake Form
  .github/ISSUE_TEMPLATE/support_ticket.yml
Owners: @BrikByte-Studios/devops, @BrikByte-Studios/docs-platform

added a professional, standards-aligned RFC Issue Form for BrikByte Studios
  .github/ISSUE_TEMPLATE/rfc.yml
Owners: @BrikByte-Studios/devops, @BrikByte-Studios/docs-platform
