Repository BrikByte-Studios/.github, changes with the owners that CODEOWNERS names for each.
All owners: @BrikByte-Studios/devops, @brikbytes/security, @brikbytes/docs-platform, @BrikByte-Studios/docs-platform, @BrikByte-Studios/security

CODEOWNERS:

# Global default
*                                        @BrikByte-Studios/devops

# Security-critical files
/.github/workflows/**                     @BrikByte-Studios/devops @brikbytes/security
/.gitattributes                           @BrikByte-Studios/devops
/.gitignore                               @BrikByte-Studios/devops
/LICENSE                                  @BrikByte-Studios/devops @brikbytes/docs-platform
<!-- /.archlint.yml                            @BrikByte-Studios/devops -->
/.governance/**                           @BrikByte-Studios/devops @brikbytes/security
/.audit/**                                @BrikByte-Studios/devops
/rulepacks/**                             @BrikByte-Studios/devops @brikbytes/security
/README.md                                  @BrikByte-Studios/docs-platform @BrikByte-Studios/devops



# workflows require Security + Platform approval
/.github/workflows/*  @BrikByte-Studios/security @BrikByte-Studios/devops
/.github/ISSUE_TEMPLATE/* @BrikByte-Studios/devops @BrikByte-Studios/docs-platform
/PULL_REQUEST_TEMPLATE.md @BrikByte-Studios/devops @BrikByte-Studios/docs-platform

docs(.md): Update README.md
  README.md
Owners: @BrikByte-Studios/docs-platform, @BrikByte-Studios/devops

ci(lint): Modified the commlint workflow
  .github/workflows/reuse-lint.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci(lint): Modified the commlint workflow
  .github/workflows/reuse-lint.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci(lint): Modified the commlint workflow
  .github/workflows/reuse-lint.yml
  commitlint.config.cjs
  package.json
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci(lint): Modified the commlint workflow
  .github/workflows/reuse-lint.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

deleted: commitlint.config.cjs
  commitlint.config.cjs
Owners: @BrikByte-Studios/devops

chore: added .gitignore
  .gitignore
  package-lock.json
Owners: @BrikByte-Studios/devops

ci: added reusable build workflow
  .github/workflows/reuse-build-test.yml
  .github/workflows/reuse-build.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: added reusable test workflow
  .github/workflows/reuse-test.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: modified reusable build workflow
  .github/workflows/reuse-build.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: modified reusable build workflow
  .github/workflows/reuse-build.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: modified reusable build workflow
  .github/workflows/reuse-test.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: added a reusable notify workflow
  .github/workflows/reuse-notify.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: modified a reusable deploy workflow
  .github/workflows/reuse-container.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: added KUBE_CONFIG environment check
  .github/workflows/reuse-container.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: made notify alert webhook optional
  .github/workflows/reuse-notify.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: made notify alert webhook optional
  .github/workflows/reuse-notify.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: added to the build workflow recording and uploading timing for audit, cache for Docker buildx
  .github/workflows/reuse-build.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: added to the build workflow recording and uploading timing for audit, cache for Docker buildx
  .github/workflows/reuse-container.yml
  .github/workflows/reuse-test.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: added to the build workflow recording and uploading timing for audit, cache for Docker buildx
  .github/workflows/reuse-build.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

feat(ci): implemented semantic versioning & tagging automation
  .github/workflows/reuse-release.yml
  .github/workflows/semver.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

feat(ci): implemented semantic versioning & tagging automation
  .github/workflows/reuse-release.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

fix(ci): we create REL_BRANCH_CANDIDATE=release/ instead of pushing to main
  .github/workflows/semver.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

fix(ci): we create REL_BRANCH_CANDIDATE=release/ instead of pushing to main
  .github/workflows/semver.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

fix(ci): we create REL_BRANCH_CANDIDATE=release/ instead of pushing to main
  .github/workflows/semver.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

fix(ci): we create REL_BRANCH_CANDIDATE=release/ instead of pushing to main
  .github/workflows/semver.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

fix(ci): we create REL_BRANCH_CANDIDATE=release/ instead of pushing to main
  .github/workflows/semver.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

fix(ci): we create REL_BRANCH_CANDIDATE=release/ instead of pushing to main
  .github/workflows/semver.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

fix(ci): we create REL_BRANCH_CANDIDATE=release/ instead of pushing to main
  .github/workflows/reuse-release.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

fix(ci): we create REL_BRANCH_CANDIDATE=release/ instead of pushing to main
  .github/workflows/reuse-build.yml
  .github/workflows/reuse-release.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

fix(ci): we create REL_BRANCH_CANDIDATE=release/ instead of pushing to main
  .github/workflows/reuse-release.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

fix(ci): we create REL_BRANCH_CANDIDATE=release/ instead of pushing to main
  .github/workflows/reuse-release.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

fix(ci): we create REL_BRANCH_CANDIDATE=release/ instead of pushing to main
  .github/workflows/reuse-release.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: modified reuse-release.yml
  .github/workflows/reuse-release.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: modified reuse-release.yml
  .github/workflows/reuse-release.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: modified reuse-release.yml
  .github/workflows/reuse-release.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: modified reuse-release.yml
  .github/workflows/semver.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: modified reuse-release.yml
  .github/workflows/semver.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: modified reuse-release.yml
  .github/workflows/semver.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops

ci: modified reuse-release.yml
  .github/workflows/semver.yml
Owners: @BrikByte-Studios/security, @BrikByte-Studios/devops
